fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
alembic==1.14.1
asyncpg==0.30.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pydantic[email]==2.10.4
pydantic-settings==2.7.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.19
httpx==0.28.1
redis==5.2.1
celery==5.4.0
geopy==2.4.1
stripe==11.4.1
boto3==1.36.4
pillow==11.1.0
websockets==14.2
firebase-admin==6.6.0
pyotp==2.9.0
pusher==3.3.2
pusher-push-notifications==1.1.1
googlemaps==4.10.0
